.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;

  .header-content-item {
    margin: auto;
    background-color: red;

    .link {
      color: white;
    }

    .link-current {
      text-decoration: underline;
      font-weight: 800;
    }
  }
}
